[data-rts-information-panel] {
  position: fixed;
  left: 50%;
  top: 50%;
  transform-origin: center center;
  box-sizing: border-box;
  will-change: transform, left, top;
}

[data-rts-information-panel].show {
  visibility: visible;
}

[data-rts-information-panel]:not(.show) {
  visibility: hidden;
}
