[data-rts-information-panel].panel-cut .rts-panel-header {
  min-height: 112px;
  padding-bottom: 15px;
  border-bottom: 0;
}

[data-rts-information-panel].panel-cut .rts-panel-header::after {
  content: none;
}

[data-rts-information-panel].panel-cut .panel-cut-bar-track {
  bottom: 0;
}
